<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <script src="https://kit.fontawesome.com/7663b17c4a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body class="home__body">
    <header class="home__header">
        <div class="home__header--total">
        <div class="home__header--container">
            <a href="/"><img class="home__header--logo" src="/img/logo-mercado-liebre.svg" alt="logo mercado liebre"></a>
            <form action="">
                <input type="text" placeholder="Buscar productos, marcas, etc" name="searchInput" id="searchBar"/>
                <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>            </form>
            </form>
        </div>
        <p class="home__header__payment"><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
        <nav class="home__header__nav">
            <ul>
                <li>Ofertas</li>
                <li>Tiendas oficiales</li>
                <li>Vender</li>
                <li>Ayuda</li>
            </ul>
            <ul>
                <li><a href="/register">Creá tu cuenta<i class="fa-regular fa-address-card"></i></a></li>
                <li><a href="/login">Ingresá<i class="fa-solid fa-right-to-bracket"></i></a></li>
                <li><a href="">Mis compras<i class="fa-solid fa-basket-shopping"></i></a></li>
            </ul>
            <div id="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
        </nav>
    </header>
    <main class="home__main">
        <img src="/img/img-home-banner.jpg" alt="Banner">
        <h3>Basado en tu última visita</h3>
        <section class="home__main__section">
            <article class="home__main__section__articles">
                <img width="80%" src="/img/img-cafetera-moulinex.jpg" alt="Cafetera">
                <div class="home__main__section__description">
                    <i class="fa-solid fa-truck"></i>
                    <p class="home__main__section--price">$6.770</p>
                    <p class="home__main__section--discount">40% OFF</p>
                    <p class="home__main__section--description">Cafetera Moulinex</p>
                </div>
            </article>
            <article class="home__main__section__articles">
                <img width= "80%" src="/img/img-macbook-pro-2019.jpg" alt="MacBook">
                <div class="home__main__section__description">
                    <i class="fa-solid fa-truck"></i>
                    <p class="home__main__section--price">$230.000</p>
                    <p class="home__main__section--discount">20% off</p>
                    <p class="home__main__section--description">MacBook Pro 2019</p>
                </div>
            </article>
            <article class="home__main__section__articles">
                <img width="80%" src="/img/img-samsung-galaxy-s10.jpg" alt="Samsung">
                <div class="home__main__section__description">
                    <i class="fa-solid fa-truck"></i>
                    <p class="home__main__section--price">$70.500</p>
                    <p class="home__main__section--discount">10% off</p>
                    <p class="home__main__section--description">Samsung Galaxy S10</p>
                </div>
            </article>
            <article class="home__main__section__articles">
                <img width="80%" src="/img/img-tv-samsung-smart.jpg" alt="Smart TV">
                <div class="home__main__section__description">
                    <i class="fa-solid fa-truck"></i>
                    <p class="home__main__section--price">$23.200</p>
                    <p class="home__main__section--discount">5% off</p>
                    <p class="home__main__section--description">SmartTv Samsung 43"</p>
                </div>
            </article>
        </section>
        <h3>Ofertas</h3>
        <section class="home__main__section">
            <article class="home__main__section__articles">
                <img width="80%" src="/img/img-cafetera-moulinex.jpg" alt="Cafetera">
                <div class="home__main__section__description">
                    <i class="fa-solid fa-truck"></i>
                    <p class="home__main__section--price">$6.770 </p>
                    <p class="home__main__section--discount">40% OFF</p>
                    <p class="home__main__section--description">Cafetera Moulinex</p>
                </div>
            </article>
            <article class="home__main__section__articles">
                <img width="80%" src="/img/img-macbook-pro-2019.jpg" alt="MacBook">
                <div class="home__main__section__description">
                    <i class="fa-solid fa-truck"></i>
                    <p class="home__main__section--price">$230.000</p>
                    <p class="home__main__section--discount">20% off</p>
                    <p class="home__main__section--description">MacBook Pro 2019</p>
                </div>
            </article>
            <article class="home__main__section__articles">
                <img width="80%" src="/img/img-samsung-galaxy-s10.jpg" alt="Samsung">
                <div class="home__main__section__description">
                    <i class="fa-solid fa-truck"></i>
                    <p class="home__main__section--price">$70.500</p>
                    <p class="home__main__section--discount">10% off</p>
                    <p class="home__main__section--description">Samsung Galaxy S10</p>
                </div>
            </article>
            <article class="home__main__section__articles">
                <img width="80%" src="/img/img-tv-samsung-smart.jpg" alt="Smart TV">
                <div class="home__main__section__description">
                    <i class="fa-solid fa-truck"></i>
                    <p class="home__main__section--price">$23.200</p>
                    <p class="home__main__section--discount">5% off</p>
                    <p class="home__main__section--description">SmartTv Samsung 43"</p>
                </div>
            </article>
        </section>
    </main>
    <footer class="home__footer">
        <div class="home__footer__div__payment">
            <i class="fa-solid fa-credit-card"></i>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </div>
        <div class="home__footer__div__shipping">
            <i class="fa-solid fa-gift"></i>
            <h4>Envío gratis desde $ 2.500</h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </div>
        <div class="home__footer__div__security">
            <i class="fa-solid fa-user-shield"></i>
            <h4>Seguridad, de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </div>
        <section>
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>
    </footer>
</body>

</html>