@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;900&display=swap');

:root {
    --colorAmarillo: #EAC926;
    --colorAzul: #03264C;
    --colorCeleste: #1259c3;
    --colorGrisOscuro: #666;
    --colorGrisClaro: #ebebeb;
    --colorVerde: #39b54a;

    --textoSizeCuerpos: 12px;
    --textoSizeTitulares: 24px;
    --textoSizePrecios: 18px;
    --textoSizeDescuentos: 16px;
    --textoSizeDescripciones: 16px
}
* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto';
}

header{
    background-color: var(--colorAmarillo)
}

.burger-menu{
    text-align: center;
    color: var(--colorGrisClaro);
    background-color: var(--colorCeleste);
    border-radius: 10%;
    display: inline-block;
    margin-bottom: 5%;
    margin-left: 45%;
    padding: 5px 8px;
}

.comprar{
    text-align: center;
}


li{
    list-style: none;
}

ul {
    padding: 2px 2px 1px;
}

a{
    text-decoration: none;
}

.seccion-footer{
    text-align: center;
    font-size: var(--textoSizeCuerpos);
}

section i{
    color: var(--colorCeleste);
    margin-bottom: 10px;
    font-size: 2em;
    margin-top: 20px;
}

.copyright{
    margin-top: 20px;
    text-align: left;
}

main{
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.articulo{
    margin: 10px;
}

article div{
    border-top: 1px solid var(--colorGrisClaro);
    padding: 15px;
}

.fa-truck{
    color: var(--colorVerde);
    border-radius: 50%;
    border: 1px solid var(--colorVerde);
    padding: 10px;
    font-size: small;
}

.precio{
    font-size: var(--textoSizePrecios);
}

.descuento{
    color:var(--colorVerde);
    font-size: var(--textoSizeDescuentos);
}

.descripcion{
    font-size: var(--textoSizeDescripciones);
    color:var(--colorGrisOscuro);
}

h3{
    font-size: var(--textoSizeTitulares);
}

@media (max-width: 361px){
    .descripcion{display:none}
    ul{display:none;}
    }
@media (max-width: 769px){
    .articulo{box-shadow: 0px 0px 10px rgb(100, 100, 100);}
    .fa-truck{display: none;}
    }